<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2048</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
    </style>
</head>
<body>
    <div id="game-over-overlay" class="overlay">
        <div class="overlay-content">
            <div id="game-over-message" class="game-over-message">GAME OVER</div>
            <button id="restart-button-overlay" class="restart-button-overlay">Restart</button>
        </div>
    </div>
    <div id="container">
        <header>
		    <div id="app-header">
		        <div class="title">2048</div>
		        <div id="score" class="score">
		            <span class="label">Score</span>
		            <span id="game-score" class="value">0</span>
		        </div>
		    </div>
		    <div id="table-header" class="table-header">
		        <button id="restart-button" class="main-buttons">RESTART</button>
		        <button id="undo" class="main-buttons">UNDO</button>
		    </div>
		</header>
        <div id="board" class="board">
            <table id="table">
                {% for row in grid_data %}
                    <tr>
                        {% for item in row %}
                            <td style="background-color: {{ color_mapping[item] }};" id="tile-value" class="tile-value">
                                {{ item }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <script>
        let moveMade = false;

        function updateGameOverOverlay(isGameOver) {
            const overlay = document.getElementById('game-over-overlay');
            if (isGameOver) {
                overlay.classList.add('show');
            } else {
                overlay.classList.remove('show');
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const gameOver = {{ game_over | tojson }};
            updateGameOverOverlay(gameOver);
            updateUndoButton();
        });

        document.addEventListener('keydown', function(event) {
            let key = event.key;
            if (key === 'ArrowUp' || key === 'ArrowDown' || key === 'ArrowLeft' || key === 'ArrowRight') {
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ key: key })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response error' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    updateTable(data.grid_data, data.color_mapping);
                    updateScore(data.score);
                    updateGameOverOverlay(data.game_over);
                    moveMade = true;
                    updateUndoButton();
                })
                .catch((error) => console.error('Error:', error));
            }
        });

        function updateTable(gridData, colorMapping) {
            const table = document.querySelector('table');
            table.innerHTML = '';

            for (let row of gridData) {
                let tr = document.createElement('tr');
                for (let item of row) {
                    let td = document.createElement('td');
                    td.textContent = item;
                    td.style.backgroundColor = colorMapping[item];
                    tr.appendChild(td);
                }
                table.appendChild(tr);
            }
        }

        function updateScore(score) {
            const scoreElement = document.getElementById('game-score');

            if (scoreElement) {
                scoreElement.textContent = formatNumberWithCommas(score);
                localStorage.setItem('gameScore', score);
            }
        }
        
        document.addEventListener('DOMContentLoaded', () => {
        	const handleFetchPost = (elementId, action) => {
        		const element = document.getElementById(elementId);
        		if (element) {
        			element.addEventListener('click', () => {
        				fetch('/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ key: 'restart' })
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response error' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            updateTable(data.grid_data, data.color_mapping);
                            updateScore(data.score);
                            updateGameOverOverlay(data.game_over);
                            moveMade = false;
                            updateUndoButton();
                        })
                        .catch((error) => console.error('Error:', error));
        			});
        		}
        	};

        	handleFetchPost('restart-button', 'restart');
        	handleFetchPost('restart-button-overlay', 'restart-overlay');
        });

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('undo').addEventListener('click', () => {
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ key: 'undo' })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response error' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    updateTable(data.grid_data, data.color_mapping);
                    updateScore(data.score);
                    moveMade = false;
                    updateUndoButton();
                })
                .catch((error) => console.error('Error:', error));
            });
        });
        
        function updateUndoButton() {
        }
        
        function updateDependentWidth() {
            const table = document.getElementById('table');
            const tableWidth = table.offsetWidth;
            
            console.log(tableWidth)
            document.getElementById('app-header').style.width = `${tableWidth}px`;
            document.getElementById('table-header').style.width = `${tableWidth}px`;
        }

        function formatNumberWithCommas(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        window.onload = function() {
            const savedScore = localStorage.getItem('gameScore');
            if (savedScore !== null) {
                updateScore(parseInt(savedScore, 10));
            }
        };
        
        window.onload = updateDependentWidth;
        window.onresize = updateDependentWidth;
    </script>
</body>
</html>
