<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2048</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
    </style>
</head>
<body>
	<div id="game-over-overlay" class="overlay">
		<div class="overlay-content">
			<div id="game-over-message" class="game-over-message">GAME OVER</div>
			<button id="restart-button" class="restart-button">Restart</button>
		</div>
	</div>
<div id="container">
    <div id="top-bar">
        <div id="score" class="score">
        	Score: 1234
        </div>
        <button id="undo" class="undo">
        	<img src="/static/undo.png" alt="Undo" />
        </button>
    </div>
    <div id="board" class="board">
        <table>
            {% for row in grid_data %}
                <tr>
                    {% for item in row %}
                        <td style="background-color: {{ color_mapping[item] }};" id="tile-value" class="tile-value">
                            {{ item }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

    <script>
        function updateGameOverOverlay(isGameOver) {
            const overlay = document.getElementById('game-over-overlay');
            if (isGameOver) {
                overlay.classList.add('show');
            } else {
                overlay.classList.remove('show');
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const gameOver = {{ game_over | tojson }};
            updateGameOverOverlay(gameOver);
        });

        document.addEventListener('keydown', function(event) {
            let key = event.key;
            if (key === 'ArrowUp' || key === 'ArrowDown' || key === 'ArrowLeft' || key === 'ArrowRight') {
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ key: key })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response error' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    updateTable(data.grid_data, data.color_mapping);
                    updateGameOverOverlay(data.game_over);
                })
                .catch((error) => console.error('Error:', error));
            }
        });

        function updateTable(gridData, colorMapping) {
            const table = document.querySelector('table');
            table.innerHTML = '';

            for (let row of gridData) {
                let tr = document.createElement('tr');
                for (let item of row) {
                    let td = document.createElement('td');
                    td.textContent = item;
                    td.style.backgroundColor = colorMapping[item];
                    tr.appendChild(td);
                }
                table.appendChild(tr);
            }
        }
        
        document.addEventListener('DOMContentLoaded', () => {
            const gameOver = {{ game_over | tojson }};
            updateGameOverOverlay(gameOver);

            document.getElementById('restart-button').addEventListener('click', () => {
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ key: 'restart' })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response error' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    updateTable(data.grid_data, data.color_mapping);
                    updateGameOverOverlay(data.game_over);
                })
                .catch((error) => console.error('Error:', error));
            });
        });

    </script>
</body>
</html>
